{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1> Connexion réussie ! ✅</h1>
    <br>

    <a href="{{ path('app_index_user', {'id': user.id})}}" class="btn-svg"> <button> Votre profil </button> </a>
    <h2>Annuaire des employés</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Personnal_picture</th>
                <th>Departement</th>
                <th>Contract_type</th>
                <th>Contract_end</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.personnalPicture }}</td>
                <td>{{ user.departement }}</td>
                <td>{{ user.contractType }}</td>
                <td>{{ user.contractEnd ? user.contractEnd|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

